*, *:before, *:after{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Nunito', sans-serif;
}


@import url('https://fonts.googleapis.com/css?family=Montserrat:400,800');

* {
  box-sizing: border-box;
}
ul, li {
    display: block;
    padding: 0px;
    margin: 0px;
     }
     * {
    -moz-transition: all 0.3s ease;
    -webkit-transition-property: all;
    -webkit-transition-duration: 0.3s;
    -webkit-transition-timing-function: ease;
}

a, a:hover, a:active, a:focus,
button, input, button:hover, button:active, button:focus,
input:focus, input:active {
    text-decoration: none;
    outline: none;
}

body {
  background: #f6f5f7;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: 'Montserrat', sans-serif;
  height: 100vh;
  margin: -25px 0 50px;
}
body::-webkit-scrollbar{
display: none;
}
/*body::-webkit-scrollbar-track{*/
/*  background-color: #fafafa;;*/
/*}*/
/*body::-webkit-scrollbar-thumb{*/
/*  background-color: rgb(210,210,210);*/
/*  border-radius: 15px;*/
/*}*/
h1 {
  font-weight: bold;
  margin: 0;
  letter-spacing: 1px;
}

h2 {
  text-align: center;
}

p {
  font-size: 14px;
  font-weight: 100;
  line-height: 20px;
  letter-spacing: 0.5px;
  margin: 20px 0 30px;
}

span {
  font-size: 12px;
}

a {
  color: #333;
  font-size: 14px;
  text-decoration: none;
  margin: 15px 0;
}

button {
  border-radius: 20px;
  border: 1px solid #46a3ff;
  background-color: #46a3ff;
  color: #FFFFFF;
  font-size: 12px;
  font-weight: bold;
  padding: 12px 45px;
  letter-spacing: 1px;
  text-transform: uppercase;
  transition: transform 80ms ease-in;
  margin-top: 10px;
}

button:active {
  transform: scale(0.95);
}

button:focus {
  outline: none;
}

button.ghost {
  background-color: transparent;
  border-color: #FFFFFF;
}

form {
  background-color: #FFFFFF;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 50px;
  height: 100%;
  text-align: center;
}

input {
  background-color: #fff;
  /* border: none; */
    border: 1px solid #333;
  padding: 12px 15px;
  margin: 8px 0;
  width: 100%;
}
.elsys{
  margin-bottom: 20px;
}
.logo{
  width: 200px;
margin-left: 25px;
margin-top: 20px;
}
.container {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 14px 28px rgba(0,0,0,0.25),
  0 10px 10px rgba(0,0,0,0.22);
  position: relative;
  overflow: hidden;
  width: 768px;
  max-width: 100%;
  min-height: 480px;
}

.form-container {
  position: absolute;
  top: 0;
  height: 100%;
  /* transition: all 0.6s ease-in-out; */
}

.sign-in-container {
  left: 0;
  width: 50%;
  z-index: 2;
}

.container.right-panel-active .sign-in-container {
  transform: translateX(100%);
}

.sign-up-container {
  left: 0;
  width: 50%;
  opacity: 0;
  z-index: 1;
}

.container.right-panel-active .sign-up-container {
  transform: translateX(100%);
  opacity: 1;
  z-index: 5;
  animation: show 0.2s;
}

@keyframes show {
  /* 15%, 49.99% {
    opacity: 0;
  z-index: 1;
  } */

 100% {
    opacity: 1;
    z-index: 5;
  }
}

.overlay-container {
  position: absolute;
  top: 0;
  left: 50%;
  width: 50%;
  height: 100%;
  overflow: hidden;
  transition: transform 0.2s ease-in-out;
  z-index: 100;
}

.container.right-panel-active .overlay-container{
  transform: translateX(-100%);
}

.overlay {
  background: #46a3ff;
  background: -webkit-linear-gradient(to right, #46a3ff, #27bbff);
  background: linear-gradient(to right, #46a3ff, #27BBFF);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0 0;
  color: #FFFFFF;
  position: relative;
  left: -100%;
  height: 100%;
  width: 200%;
  transform: translateX(0);
  transition: transform 0.2s ease-in-out;
}

.container.right-panel-active .overlay {
  transform: translateX(50%);
}

.overlay-panel {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 40px;
  text-align: center;
  top: 0;
  height: 100%;
  width: 50%;
  transform: translateX(0);
  transition: transform 0.2s ease-in-out;
}

.overlay-left {
  transform: translateX(-20%);
}

.container.right-panel-active .overlay-left {
  transform: translateX(0);
}

.overlay-right {
  right: 0;
  transform: translateX(0);
}

.container.right-panel-active .overlay-right {
  transform: translateX(20%);
}

/*/////////////////////////////////////*/
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 50px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);
}

.modal-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  border: 1px solid #888;
  width: 80%;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s
}

@-webkit-keyframes animatetop {
  from {top:-300px; opacity:0}
  to {top:0; opacity:1}
}

@keyframes animatetop {
  from {top:-300px; opacity:0}
  to {top:0; opacity:1}
}

.close {
  color: white;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #fff;
  text-decoration: none;
  cursor: pointer;
}

.modal-header {
  padding: 16px 16px;
  background-color: #46a3ff;
  color: #fff;
  display: flex;
align-items: center;
justify-content: space-between;
}

.modal-body {padding: 16px 16px;}
.switch {
  position: relative;
  display: inline-block;
  width: 30px;
  height: 17px;
}

/*/////////////////////////////////////*/


.accordion {
  width: 90%;
  max-width: 1000px;
  margin: 2rem auto;
}
.accordion-item {
  background-color: #fff;
  color: #111;
  margin: 1rem 0;
  border-radius: 0.5rem;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.25);
}
.accordion-item-header {
  padding: 0.5rem 3rem 0.5rem 1rem;
  min-height: 3.5rem;
  line-height: 1.25rem;
  font-weight: bold;
  display: flex;
  align-items: center;
  position: relative;
  cursor: pointer;
}
.accordion-item-header::after {
  content: "\002B";
  font-size: 2rem;
  position: absolute;
  right: 1rem;
}
.accordion-item-header.active::after {
  content: "\2212";
}
.accordion-item-body {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}
.accordion-item-body-content {
  padding: 1rem;
  line-height: 1.5rem;
  border-top: 1px solid;
  border-image: linear-gradient(to right, transparent, #34495e, transparent) 1;
}

@media(max-width:767px) {
  html {
    font-size: 14px;
  }
}

/*/////////////////////////////////////*/
.container_check input[type=radio] {
  position: absolute;
  visibility: hidden;
  display: none;
}

.container_check label {
  color: #ccc;
  display: inline-block;
  cursor: pointer;
  font-weight: bold;
  padding: 5px 20px;
}

.container_check input[type=radio]:checked + label{
  color: #000;
  /*background: #ccc;*/
}

.container_check label + input[type=radio] + label {
  border-left: solid 1px #000;
}
.container_check .radio-group {
  border: solid 1px #000;
  display: inline-block;
  margin: 20px;
  border-radius: 10px;
  overflow: hidden;
}
.container_check_btn{
  margin-top: 0px;
  margin-bottom: 20px;
}
fieldset
{
border-color: #27BBFF;
  padding: 10px;
  margin-bottom: 20px;
}
/*///////////////////////////////////////*/
.time_zone button{
margin-bottom: 0px;
}
.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 400%;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 10px;
  position: absolute;
  z-index: 1;
  top: 27px;
  font-size: 12px;
  text-transform: none;
  right: -25px;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}
/*////////////////////////////*/

.custom-radio{
  border: none;
}
.custom-radio>input {
  position: absolute;
  z-index: -1;
  opacity: 0;
}
.custom-radio>span {
  display: inline-flex;
  align-items: center;
  user-select: none;
}

.custom-radio>span::before {
  content: '';
  display: inline-block;
  width: 1em;
  height: 1em;
  flex-shrink: 0;
  flex-grow: 0;
  border: 1px solid #adb5bd;
  border-radius: 50%;
  margin-right: 0.5em;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 50% 50%;
}

.custom-radio>input:not(:disabled):not(:checked)+span:hover::before {
  border-color: #b3d7ff;
}

.custom-radio>input:not(:disabled):active+span::before {
  background-color: #b3d7ff;
  border-color: #b3d7ff;
}
.custom-radio>input:focus+span::before {
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

.custom-radio>input:focus:not(:checked)+span::before {
  border-color: #80bdff;
}

.custom-radio>input:checked+span::before {
  border-color: #0b76ef;
  background-color: #0b76ef;
}

.custom-radio>input:disabled+span::before {
  background-color: #e9ecef;
}
.add_card{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  position: relative;
}
.add_card label{
  width: 25%;

}
.add_card button{
  margin-bottom: 0px;
  margin: 0px auto;
}

/*/////////////////////////////////*/
.switch {
  position: relative;
  display: inline-block;
  width: 30px;
  height: 17px;
  margin: 0px auto;
}

.switch input {display:none;}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 13px;
  width: 13px;
  left: 2px;
  bottom: 2px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background: -webkit-linear-gradient(left, #46a3ff, #46a3ff);
}

input:focus + .slider {
  background: -webkit-linear-gradient(left, #46a3ff, #46a3ff);
}

input:checked + .slider:before {
  -webkit-transform: translateX(13px);
  -ms-transform: translateX(13px);
  transform: translateX(13px);
}

.slider.round {
  border-radius: 17px;
}

.slider.round:before {
  border-radius: 50%;
}
.switch_block{
  display: flex;
  flex-direction: column;
}
.switch_block button{
margin: 0px auto;
  margin-top: 10px;
  margin-bottom: 0px;
}

/* ///////////////////////////////////////// */

.duration_of_work li,.connect li , .controller_version li,.mac li{
margin-right: 10px;
}

/* ///////////////////////////////////////// */

table {
  border: 1px solid #ccc;
  border-collapse: collapse;
  margin: 0;
  padding: 0;
  width: 100%;
  table-layout: fixed;
  margin-bottom: 15px;
}


table tr {
  background-color: #f8f8f8;
  border: 1px solid #ddd;
  padding: .35em;
}
table caption {
  font-size: 1.5em;
  margin: .5em 0 .75em;
}

table th,
table td {
  padding: .625em;
  text-align: center;
}

table th {
  font-size: 1em;
}

@media screen and (max-width: 1010px) {
  table {
    border: 0;
  }

  table caption {
    font-size: 1.3em;
  }

  table thead {
    border: none;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
  }

  table tr {
    border-bottom: 3px solid #ddd;
    display: block;
    margin-bottom: .625em;
  }

  table td {
    border-bottom: 1px solid #ddd;
    display: block;
    font-size: .8em;
    text-align: right;
  }

  table td::before {
    content: attr(data-label);
    float: left;
    font-weight: bold;
  }

  table td:last-child {
    border-bottom: 0;
  }
}


.checkmark {
    display:inline-block;
    width: 22px;
    height:22px;
    -ms-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}

.checkmark_stem {
    position: absolute;
    width:3px;
    height:9px;
    background-color:#46a3ff;
    left:11px;
    top:6px;
}

.checkmark_kick {
    position: absolute;
    width:3px;
    height:3px;
    background-color:#46a3ff;
    left:8px;
    top:12px;
}
.del_btn {
  border: 1px solid #fc0303;
  background-color: #fc0303;
      padding: 6px 15px;
      margin-top: 0px;
}

.add_btn {
  border: 1px solid #56d600;
  background-color: #56d600;
      padding: 6px 15px ;
      margin-top: 0px;
}

.edit-usr-btn, .edit-card-btn, .del-usr-btn, .del_btn, .generate_qr_token {
  padding: 5px !important;
  margin: 2px;
  border-radius: 50% !important;
}

.del-usr-btn, .del_btn {
  background-color: #fc0303;
  border: 1px  solid white;
}

.edit-usr-btn, .edit-card-btn, .generate_qr_token {
  border: 1px solid white;
  background:  #FC7403;
}

.edit-usr-btn img, .edit-card-btn img, .del-usr-btn img, .del_btn img, .generate_qr_token img {
  width: 20px !important;
}

table .close {
  color: #808080;
  float: unset;
  font-size: 28px;
}

table .close:hover,s
table .close:focus {
  color: #808080;
  text-decoration: none;
  cursor: pointer;
}
.form-container_2 h2{
  position: relative;
}



/* ///////////////////////////// */
.radio-toolbar {
  margin: 10px;
}

.radio-toolbar input[type="radio"] {
  opacity: 0;
  position: fixed;
  width: 0;
}

.radio-toolbar label {
    display: inline-block;
    background-color: #fff;
    padding: 10px 20px;
    font-family: sans-serif, Arial;
    font-size: 16px;
    border: 2px solid #444;
    border-radius: 4px;
    margin: 5px;

}

.radio-toolbar label:hover {
  background-color: #BFDFFF;
}


.radio-toolbar input[type="radio"]:checked + label {
    background-color: #46a3ff;
    border-color: #46a3ff;
        color: #fff;
}

/* //////////////////////////////////////////////////////////// */
.cbx{
  position: relative
  display: block
  float: left
  width: 18px
  height: 18px
  border-radius: 4px
  background-color: #46a3ff
  background-image: linear-gradient(#46a3ff,#46a3ff)
  box-shadow: inset 0 1px 1px rgba(white,.15), inset 0 -1px 1px rgba(black,.15)
  transition: all .15s ease
}
.rdo{
  position: relative
  display: block
  float: left
  width: 18px
  height: 18px
  border-radius: 10px
  background-color: #46a3ff
  background-image: linear-gradient(#46a3ff,#46a3ff)
  box-shadow: inset 0 1px 1px rgba(white,.15), inset 0 -1px 1px rgba(black,.15)
  transition: all .15s ease
}
.rdo:after{
    content: ""
    position: absolute
    display: block
    top: 6px
    left: 6px
    width: 6px
    height: 6px
    border-radius: 50%
    background: white
    opacity: 0
    transform: scale(0)
  }
.cbx + span,
.rdo + span{
  float: left
  margin-left: 6px
}
.forms{
  margin: auto
  user-select: none
}
.forms  label {
    display: inline-block
    margin: 10px
    cursor: pointer
  }
.forms   input[type="checkbox"],
.forms  input[type="radio"]{
    position: absolute
    opacity: 0
  }
  .forms input[type="radio"]:checked + .rdo{
    background-color: #46a3ff
    background-image: linear-gradient(#46a3ff,#46a3ff)
  }
    .forms input[type="radio"]:checked + .rdo:after{
      opacity: 1
      transform: scale(1)
      transition: all .15s ease
}
  .forms   input[type="checkbox"]:checked + .cbx{
    background-color: #46a3ff
    background-image: linear-gradient(#46a3ff,#46a3ff)
    svg
      stroke-dashoffset: 0
      transition: all .15s ease
    }
/* ////////////////////////////////////////////////////////// */

.control {
  display: none;
  border-radius: 10px;
  box-shadow: 0 14px 28px rgba(0,0,0,0.25),
  0 10px 10px rgba(0,0,0,0.22);
  position: relative;
  overflow: overlay;
  width: 90%;
  max-width:100%;
  min-height: 75%;
  flex-wrap: wrap;
}
.control_left{
    background-color: #46a3ff;
    width: 50%;
}
.control_right{
    width: 50%;
}
.control_right_btn{
  float: right;
}
.control_right_btn button{
  margin-right: 15px;
}


#products_ind{
    min-height:100%;
    min-width:100%;
    margin-top: 45px;
    /*height:620px;*/
    position: relative;
    color: #fff;
    margin-bottom: 45px;

}
.products_ind{
    margin-top: 5px;
    text-align: center;
}
#content1,#content2,#content3,#content4 {
    display: none;
    margin-bottom: 10px;
}
.products_ind  p {
    margin: 0 0 5px;
    line-height: 1.5;
}
.products_ind input {
    display: none;
        padding: 12px 45px;
            text-align: center;
}

.products_ind label {
  display: inline-block;

    border-radius: 20px;
    border: 1px solid #46a3ff;
    background-color: #46a3ff;
    color: #FFFFFF;
    font-size: 12px;
    font-weight: bold;
    padding: 12px 45px;
    letter-spacing: 1px;
    text-transform: uppercase;
    transition: transform 80ms ease-in;
    margin: 10px;
        width: 225px;
        text-align: center;


}

.products_ind label:before {
    font-weight: normal;
    margin-right: 10px;
}
.products_ind label:hover {
    color: #000;
    cursor: pointer;
}

.products_ind input:checked + label {
    color: #fff;
    border: 1px solid #ddd;
    border-bottom: 1px solid #fff;
}

#tab1:checked ~ #content1,
#tab2:checked ~ #content2,
#tab3:checked ~ #content3,
#tab4:checked ~ #content4
{
    display: block;
}



.products_ind a:after{
display: none;
}
.products_ind a{
   color: #0000f0;
}

.products_ind_item{
  display: flex;
}
.products_ind img{
  width: 250px;
}
#content1 label{
  width: 32px;
  padding: 0px;
}
.content1_btn button{
  margin: 10px;
  width: 30%;
    padding: 12px 0px;
}

.content1_btn{
  display: flex;
  flex-wrap: wrap;
      justify-content: center;

}
.conten_h2{
  text-align: center;
    width: 100%;
}
/* /////////////////////////////////////////////////////////////// */
.tab {
    float: left;
    width: 30%;
    /* height: 300px; */
    position: relative;
}

/* Style the buttons inside the tab */
.tab button {
    display: block;
    background-color: inherit;
    padding: 22px 16px;
    width: 100%;
    border: none;
    outline: none;
    text-align: center;
    cursor: pointer;
    transition: 0.3s;
}


.tab button.active {
color: #000;
}

.tabcontent {
    float: left;
    padding: 0px 12px;
    width: 70%;
    border-left: none;
    text-align: center;
    margin-top: 30px;
}
.tabcontent img{
  width: 250px;
}

::-webkit-scrollbar {
    /* width: 12px; */
    display: none;
}

::-webkit-scrollbar-track {
    /* -webkit-box-shadow: inset 0 0 6px #fff;
    border-radius: 10px; */
    display: none;
}

::-webkit-scrollbar-thumb {
   /* border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px #0b76ef; */
    display: none;
}
.customization img,.exit img{
  width: 35px;
  cursor: pointer;
}
.customization ,.exit{
border: none;
background-color: initial;
/* color: #FFFFFF; */
padding: 0px;

}
.overlay-right img{
  width: 35px;
  position: absolute;
top: 15px;
right: 15px;
}
 .question{
     width: 35px;
     margin-right: 15px;
 }
 .img_sec{
   width: 45px !important;
   margin-bottom: 120px;
 }

.conten_h2 {
color: #333;
}
.control_right_table table tr:nth-child(even){
      background-color: #ddd;
}
.control_right_table table tr:hover{
      background-color: #46a3ff;
}



.tooltip_2 {
  position: relative;
  color: #000;
}

.tooltip_2 .tooltip-text {
  font-size: 1em !important;
  line-height: 1em !important;
  visibility: hidden;
  font-weight: 300 !important;
  max-width: 300px;
  background-color: #000;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 10px;
  position: absolute;
  z-index: 1;
  top: 85%;
  left: 90%;
  margin-left: -60px;
  opacity: 0;
  transition: .3s;
  transform: translate3d(0px, 20px, 0px);
  text-transform: none  !important;
  letter-spacing: 1px  !important;
}

.tooltip_2:hover .tooltip-text {
  visibility: visible;
  opacity: 1;
  transform: translate3d(0px, 0px, 0px);
}
.qr-code-read a{
  color: #fff;
    font-size: 12px;
    text-decoration: none;
    margin: 15px 0;
    letter-spacing: 1px;
}
.QR_work{
  display: flex;
      justify-content: space-evenly;
      flex-wrap: wrap;
}
.products_ind label{
  display: none;
}
.content_h2_1,.content_h2_2,.content_h2_3,.content_h2_4{
  /* display: none; */
  color: #333;
  margin: 15px auto;
}
#tab1:checked ~ .content_h2_1,
#tab2:checked ~ .content_h2_2,
#tab3:checked ~ .content_h2_3,
#tab4:checked ~ .content_h2_4
{
    display: block;
}
#del_all_cards{
  float: right;
  background-color: red;
  border-color: red;
}
.add_users, .add_cards {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding: 0px 10px;
}
.add_users input, .add_cards input {
  border: 1px solid #333;
  display: block;
  width: 45%;
  margin: 10px;
}
.add_users_btn, .add_cards_btn {
  width: 50%
}
/* .generate_qr_token{
  padding: 10px 15px ;
} */
.qr-code-field{
  display: flex;
  justify-content: center;
}
.qr-code-icon{
  width: 32px;
}
/* //////////////////////////////////////////////////////////////// */
@media screen and (max-width:992px) {
  .add_card label {
      width: 100%;
  }
  .control_left,.control_right{
    width: 100%;
  }
}

@media screen and (max-width:576px) {
  .duration_of_work li {
      border-bottom: 1px solid #000;
  }
  .radio-toolbar label {
    font-size: 13px;
}
.tooltip .tooltiptext {
    width: 200%;
}
}
@media screen and (max-width:522px) {
  .content1_btn button {
      width: 50%;
  }
}
  @media screen and (max-width:398px) {
#myBtn, #control_btn{
      padding: 12px 22px;
}
.products_ind img {
    width: 180px;
}
.img_sec {
    margin-bottom: 80px;
}
}



#cbk1, #cbk2 {
  width: 30px;
}

.generate_event {
  float: right;
  padding: 5px;
}

.generate_event #test_event {
  width: 20px;
  padding: 2px;
}