body {
    height: 100%;
}

.door-toolbar {
    display: flex;
    flex-direction: row;
}

.clicked {
    background-image: url("/client/img/double-door.png")
}

.door-img {
    width: 200px;
}




.settings-field {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 50%;
    margin: auto;
}
.settings-field fieldset {
    margin: 10px;
}

.settings-item {
    /* margin: 10px; */
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.settings-item input{
    margin: 10;
    padding: 0;
    width: 60px;
    /* margin-left: auto; */
}
.value-item {
    flex-direction: column;
    margin-bottom: 10px;
}
.value-item label {
    min-width: 50%;
}

.ckb-container {
    display: flex;
    flex-direction: row;
    line-height: 10px;
}
.ckb-container input {
    width: auto;
}
.ckb-container label {
    margin: 8px;
}


label{
    margin: auto 5px;
}



.exit-button-settings {
    width: 500px;
}
.check-square {
    width: 45px;
    height: 45px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    border: 1px solid #27BBFF;
}
.check-square input {
    margin: 0;
    padding: 0;
    width: 15px;
}
.check-square .top-line, .check-square .bottom-line {
    display: flex;
    justify-content: center;
}
.check-square .centre-line{
    display: flex;
    justify-content: space-between;
}


.small-value {
    width: 60px;
    padding: 0;
    padding-right: 10px;
}


.password-container {
    width: 300px;
    display: flex;
    flex-direction: column;
}
.password-container label {
    margin: 10px 0;
}
.password-container input {
    margin-left: auto;
}
.password-container label {
    margin-right: 10px;
}
.password-container .btn-password-length {
    width: 20px !important;
    height: 20px !important;
    border-radius: 10px;

    padding: 0;
}
.password-container .input-password {
    margin-left: 0;
    margin: auto 5px !important;
    width: 30px;
    padding: 2px;
    text-align: center;
}
.password-container .management {
    display: flex;
    flex-direction: column;
}
.password-container select {
    width: 150px;
    margin: 2px;
    /* width: 100%; */
}



.value-container {
    display: flex;
    flex-direction: row;
}
.value-container .value {
    width: 100%;
    margin: auto 5px;
    display: flex;
    flex-direction: row;
}
.value-container label {
    margin-left: 0;
}
.hint {
    margin-top: 5px;
}



@media screen and (max-width:700px) {
    .door-toolbar {
        flex-direction: column;
        /* max-height: 500px; */
    }
}